.bracats__form {
  display: flex;
  flex-direction: row;
  
  width: 500px;
  height: 50px;
  
  border: 1px solid grey;
  padding: 2px;

  border-radius: 10px;
  background-color: $white;
}

.bracats__input--text {
  flex-grow: 2;
  width: 100%;
  
  border: none;
  background-color: transparent;
  padding: 20px 0px 20px 15px;

  color: $black;
  font-size: 12px;
  
  
  transform: scale(1);
  box-shadow: none;
  
  &:focus {
    outline: 0;
    background: #fff;
    
    transition: all 0.25s ease-in-out;
    border-right: none;
    border-radius: 10px;
  }
}

.bracats__input--submit {
  box-sizing: border-box;
  
  width: 100px;
  height: 40px;
  
  background-color: $black;
  color: $white;
  
  font-size: 18px;

  margin: 5px 5px 5px 0;
  
  border: 1px solid $black;
  border-radius: 10px;
  
  
  &:hover,
  &:focus {
    border: 1px solid $black;
    color: $black;
    background-color: $white;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    outline: 0;
  }
}

input:-webkit-autofill {
  background-color: transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: 'color 9999s ease-out, background-color 9999s ease-out';
  transition-delay: 9999s;
}