#wrapper {
  box-sizing: border-box;
  width: 550px;
  height: 450px;
  border-radius: 25px;
  padding: 25px;
  background-color: $default-bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &.correct {
    background-color: $correct-bg-color;
  }
  &.incorrect {
    background-color: $incorrect-bg-color;
  }
}