
@import 'variables';
@import 'wrapper';
@import 'results';
@import 'form';

body {
  font-family: 'Calibri', sans-serif;
}

h1 {
  color: $black;
  font-size: 36px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

